########### DEV OPS ###########

#### Virtual Environment ####
.venv
venv

########### PYTHON ###########
__pycache__
.coverage
.idea

# Build
dist
build

########### C++ ###########

#### Windows ####
.vs
x64
*.user
src/studio/VersionInfo.aps
