name: Validate Branch (lint & unittests)

on:
  pull_request:

jobs:
  setup:
    runs-on: ubuntu-24.04
    steps:
      # Step 1: Checkout code with full history
      - name: Checkout code with full history
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Fetch all history for all branches and tags

      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'  # Adjust to your Python version

  detect-changes:
    runs-on: ubuntu-latest
    needs: setup  # Wait for the setup job to complete
    outputs:
      studio_changed: ${{ steps.detect.outputs.studio_changed }}
      executor_changed: ${{ steps.detect.outputs.executor_changed }}
      webweaver_changed: ${{ steps.detect.outputs.webweaver_changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # Checkout the head commit of the PR

      - name: Fetch base branch
        run: |
          git fetch origin ${{ github.event.pull_request.base.ref }}  # Fetch the base branch

      - name: Detect changes in directories
        id: detect
        run: |
          git fetch origin ${{ github.event.pull_request.base.ref }} --depth=1
          changed_files=$(git diff --name-only origin/${{ github.event.pull_request.base.ref }} ${{ github.event.pull_request.head.sha }})

          echo "Checking for changes in studio"
          if echo "$changed_files" | grep -qE '^(webweaver|unit_tests)/studio/'; then
            echo "studio_changed=true" >> $GITHUB_OUTPUT
            echo "[INFO] Studio or unit tests have changed"
          else
            echo "studio_changed=false" >> $GITHUB_OUTPUT
          fi

  verify_studio:
    runs-on: ubuntu-24.04
    needs: [setup, detect-changes]  # Wait for both setup and detect-changes
    if: needs.detect-changes.outputs.studio_changed == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      #: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage pylint

      - name: Run Pylint
        env:
          PYTHONPATH: webweaver/studio
        run: |
          pylint --fail-under=10.0 webweaver/studio

      # Run tests and measure coverage
      - name: Run tests with coverage
        env:
          PYTHONPATH: webweaver/studio:unit_tests/studio
        run: |
          coverage run --rcfile=.github/workflows/.coveragerc_accounts_svc -m unittest -v main
          coverage report -m --fail-under=100
